@font-face {
    font-family: "Kaph";
    src: url("../css-styles/kaph-font/Kaph-Regular.woff2") format("woff2"), url("../css-styles/kaph-font/Kaph-Regular.woff")
        format("woff");
}

.button {
    /*background-color: #ffffff;


    color: #f6092f;
    font-size: 40px;

    border: 2px solid #f6092f;
    width: 350px;
    height: 70px;
    border-radius: 12px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.title {
    /*width: 700px;
    height: 200px;*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.helpBox {
    background-color: blue;
}

.startScreenContainer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    /*align-items: center;*/
    /*align-content: normal;*/
    gap: 0px 70px;
}